<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.MemberMapper">
	<resultMap type="member" id="memberDTO">
		<id property="mno" column="mno"/>
		<id property="id" column="id"/>
		<id property="pwd" column="pwd"/>
		<id property="name" column="name"/>
		<id property="birth" column="birth"/>
		<id property="tel" column="tel"/>
		<id property="address" column="address"/>
		<id property="vno" column="vno"/>
		<id property="mileage" column="mileage"/>
	</resultMap>
	<resultMap type="vip" id="memberVipDTO">
		<id property="vno" column="vno"/>
		<id property="vname" column="vname"/>
	</resultMap>
	<resultMap type="memberDetail" id="memberDetailDTO">
		<id property="mno" column="mno"/>
		<id property="pchange" column="pchange"/>
		<id property="lastLogin" column="lastlogin"/>
		<id property="dormant" column="dormant"/>
		<id property="recommender" column="recommender"/>
	</resultMap>

	<!-- 로그인 -->
	<select id="login" parameterType="map" resultType="memberDTO">
		select * from member where id = #{id} and pwd = #{pwd}
	</select>
	
	<update id="updateLastLogin" parameterType="mno">
		update member_detail set lastlogin = sysdate where mno = #{mno}
	</update>
	
	<!-- 회원가입 -->
	<insert id="register" parameterType="map">
		insert into member 
		<choose>
			<when test="birth.equals('1')">
				(mno, id, pwd, name, tel, address)
				values(seq_mno.nextval, #{id},#{pwd},#{name},#{tel},#{address})
			</when>
			<otherwise>
				(mno, id, pwd, name, birth, tel, address)
				values(seq_mno.nextval, #{id},#{pwd},#{name},to_date(#{birth},'RRRR-MM-DD'),#{tel},#{address})
			</otherwise>
		</choose>
	</insert>
	<!-- 회원가입 시 member_detail 추가 -->
	<insert id="registerMemberDetail">
	
	</insert>
	
	<!-- 회원정보 수정 페이지 -->
	<select id="updateMemberView" parameterType="String" resultType="member">
		select m.*, v.vname as vname from member m, vip v where m.vno = v.vno and id = #{id}
	</select>
	<!-- 회원정보 수정 -->
	<update id="updateMember" parameterType="map">
		update member set tel = #{tel}, birth=to_date(#{birth}, 'YYYY-MM-DD'), address=#{address} where id = #{id}
	</update>
	<!-- 비밀번호 변경 -->
	<update id="updatePwd" parameterType="map">
		update member set pwd = #{pwd2} where id=#{id} and pwd = #{pwd}
	</update>
	<!-- 계정 찾기 -->
	<select id="findAccount" parameterType="map" resultType="String">
		select id from member where name=#{name} and tel=#{tel} 
			<if test="status == 1">
					and id=#{id} 
			</if>
	</select>
	<!-- 비밀번호찾기-재설정 -->
	<update id="findChangePwd" parameterType="map">
		update member set pwd = #{pwd} where id = #{id}
	</update>
</mapper>