<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.MemberMapper">
	<select id="login" parameterType="map" resultType="member">
		select * from member where id = #{id} and pwd = #{pwd}
	</select>
	<insert id="register" parameterType="map">
		insert into member 
		<choose>
			<when test="birth.equals('1')">
				(mno, id, pwd, name, tel, address)
				values(seq_mno.nextval, #{id},#{pwd},#{name},#{tel},#{address})
			</when>
			<otherwise>
				(mno, id, pwd, name, birth, tel, address)
				values(seq_mno.nextval, #{id},#{pwd},#{name},to_date(#{birth},'RRRR-MM-DD'),#{tel},#{address})
			</otherwise>
		</choose>
	</insert>
	
	<select id="updateMemberView" parameterType="String" resultType="member">
		select m.*, v.vname as vname from member m, vip v where m.vno = v.vno and id = #{id}
	</select>
	
	<update id="updateMember" parameterType="map">
		update member set tel = #{tel}, birth=to_date(#{birth}, 'YYYY-MM-DD'), address=#{address} where id = #{id}
	</update>
	
	<update id="updatePwd" parameterType="map">
		update member set pwd = #{pwd2} where id=#{id} and pwd = #{pwd}
	</update>
	
	<select id="findAccount" parameterType="map" resultType="String">
		select id from member where name=#{name} and tel=#{tel} 
			<if test="status == 1">
					and id=#{id} 
			</if>
	</select>
	
	<update id="findChangePwd" parameterType="map">
		update member set pwd = #{pwd} where id = #{id}
	</update>
	
</mapper>